@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Berkshire+Swash&family=Domine&family=Fjalla+One&family=Oswald&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');


body {
    background-color: #ffffff;
    color: #003688;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display:inline-block;
    margin: 20px;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

h2 {
    font-size: 65px;
    line-height: 10px;
    font-family: 'Abril Fatface', cursive;
    color: #000000;
}

p {
    line-height: 24px;
    max-width: 500px;
    font-family: 'Fjalla One', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: -10px;
    font-size: 22px;
    font-weight: 545;
}

.subtitulo {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Domine', serif;
    color: #004CAB;
    font-size: 20px;
    font-weight: 100;
}

.menu {
    margin-right: 65px;
}

main{
    justify-content: center;
}

.logo{
    cursor: pointer;
    margin-left: 70px;

}

header a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 8px;
}
      
header a:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: white;
}

.corpo-titulo{
    font-size: 65px;
    line-height: 10px;
    font-family: 'Berkshire Swash', cursive;
    color: #b61184;
    padding-top: 20px;
}

.titulo1 {
    text-align: center;
    position: relative;
    top: 40px;
    
}

.icones {
    display: flex;
    justify-content: space-between;
    margin-left: 330px;
    margin-right: 330px;
    font-size: 2em;
    color: #b633af;
}

.icons {
   height: 50px;
   width: auto;
}

.icons-texto {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;

}

.texto-icones {
    margin-left: -25px;
}

mark {
    background-color: #ff9dea;
    border-radius: 8px;

}

.corpo-titulo2 {
    font-size: 35px;
    color: #921192;

}

.titulo2 {
    text-align: center;
    position: relative;
    top: -30px;
    text-shadow: 2px 2px 8px #ee39a2;
    
}
@media(max-width: 768px){
    .icones{
        margin-left: 0;
        margin-right: 0;
    }
    .icons{
        height: 45px;
        width: auto;
    }
}

.section1 {
    background-color: #fdced8;
    height: auto;
    top:0;
    left: 0;
    padding-bottom: 10px;
}

.corpo1 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    max-width: none;
    position: relative;
    top: -20px;
    line-height: 18px;
    left: 100px;
    margin-right: 200px;
    text-align: center justify;
}

.box-rosa .corpo1 p{
    background-color: #fabac8;
    border-radius: 8px;
    width: 85%;
    height: 155px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:  20px;
}


.section9{
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #e7b8d8;
}

.section9-conteudo{
    margin: 0;
    padding: 0;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.section10 {
    height: auto;
    top:0;
    left: 0;
    padding-bottom: 45px;
    padding-top: 15px;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -20px;
    justify-content: center;
    display: flex;
}

.m-btn{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: #23e3c2;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}


#radio3:checked ~.first{
    margin-left: -40%;
}


#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}


#radio1:checked ~ .nav-auto .a-b1{
    background-color: #23e3c2;
}

#radio2:checked ~ .nav-auto .a-b2{
    background-color: #23e3c2;
}

#radio3:checked ~ .nav-auto .a-b3{
    background-color: #23e3c2;
}

#radio4:checked ~ .nav-auto .a-b4{
    background-color: #23e3c2;
}

h4{
    color: #000000;
    margin-top: -17px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.corpo-titulo3 {
    color: #8e00aa;
    font-size: 65px;
    margin: 10px;
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
    padding-top: 50px;
}

.section2 {
    background-color: #d6acee;
    height: auto;
    top: 0;
    left: 0;
    padding-bottom: 40px;
}


.corpo2 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 15px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 80px;
}


.corpo3 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 25px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.corpo10 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 25px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.grade {
    display:list-item;
    list-style-type: disc;
    line-height: 5px;
    color: #00ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.grade span {
    color: #000000;
}


.marcadores-areas{
    margin-top: -3px;
    margin-left: -13.98px;
}


.imagem-areas{
    flex-direction:row;  
    display: flex;
}

.imagem-marcadores{
    flex-direction:row;  
    display: flex;
}

@media(max-width: 768px){
    .imagem-marcadores{
        flex-direction: column;
        display: flex;
        margin-top: -24px;
    }
    .grade{
        line-height: 18px;
    }
}


.ul-marcadores{
    margin-top: 5px;
    margin-left: -13.98px;
}

.img2 img{
    display: flex;
    position: absolute;
}

.img_grade{
    width: 420px;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}

.pontilhado{
    width: 300px;
    height: 308px;
    margin-left: 100px;
    margin-top: 60px;
}

.botao{
    margin-top: 390px;
    margin-left: -500px;
}

button{
    background-image: linear-gradient(45deg, #741b8a, #e92efb);
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes anima-botao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: anima-botao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.corpo-titulo4 {
    color: #003D76;
    font-size: 65px;
    margin: 10px;
    margin-top: 100px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
}

.corpo-titulo4 .marcatexto-atuacao{
    background-color: #fc2e7d;
    color: #f1a9ff;
    border-radius: 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}


.img3 .img-estagio{
    width: 420px;
    height: auto;
    margin-left: 310px;
    border-radius: 8px;
    border: 10px solid #66dbff;
    margin-top: -22px;
}

.section3{
    background-color: #ffffff;
    height: auto;
    top:0;
    left: 0;
}

.titulo3 {
    position: relative;
    top: 40px;
    
}

.corpo-titulo11 {
    color: #8e00aa;
    font-size: 65px;
    margin: 10px;
    margin-top: -70px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
    padding-top: 40px;
}

.corpo-titulo11 .marcatexto-estagio{
    background-color: #fc2e7d;
    color: #f1a9ff;
    border-radius: 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}


.areas {
    display:list-item;
    list-style-type: disc;
    line-height: 5px;
    color: #00a093;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.areas span {
    color: #000000;
}

.section4 {
    background-color: #aca4d3;
    height: auto;
    top:0;
    left: 0;
    padding-bottom: 90px;
}

.titulo4 {
    position: relative;
    top: 32px;
    
}

.corpo-titulo5 {
    color: #832a83;
    font-size: 65px;
    margin: 10px;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
    padding-top: 16px;
}

.mercado-marcadores{
    display: flex;
    flex-direction: row;
}

.ul-marcadores-mercado{
    margin-top: -30px;
    margin-left: -13.98px;
}

.mercado {
    display:list-item;
    list-style-type: disc;
    line-height: 5px;
    color: #b41653;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.mercado span {
    color: #000000;
}

.corpo4 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 15px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.mercado-corpo p{
    top: -14px;
}


.mercado-corpo2 p{
    top: -60px;
}

.mercado-corpo2 span{
    color: #8f0837;
    font-family: 'Lobster Two', cursive;
    font-size: 23px;
}


.imagem-mercado-cau img{
    margin-top: -60px;
    margin-left: 10px;
    border-radius: 20px;
}


div.polaroid {
    width: 240px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    margin-bottom: 50px;
    float: left;

}
  
.polaroid img {
    width: 240px;
    height: auto;
    margin-bottom: -70px;

}
  
div.polaroid-container p {
    text-align: center;
    padding: 10px 20px;
}
  
div.polaroid-container2 p {
    text-align: center;
    padding: 16px 20px;
}
  
div.polaroid-container3 p {
    text-align: center;
    padding: 21px 20px;
  }
  
.exemplos .corpo-titulo6 {
    color: #881f6e;
    font-size: 35px;
    font-family: 'rounded', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    margin: 10px;
    margin-top: -30px;
    text-shadow: 2px 2px 8px #9600c4;
}

.corpo-mercado p{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 15px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: -40px;
}

.corpo5 p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: none;
    position: relative;
    top: 15px;
    line-height: 18px;
    left: 10px;
    margin-top: 35px;
}

.section5{
    background-color: #fabac8;
    height: auto;
    top:0;
    left: 0;
    margin-top: 35px;
}


.corpo-titulo12 {
    color: #003D76;
    font-size: 65px;
    font-weight:400;
    letter-spacing: 2px;
    font-family: 'delicate', cursive;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 50px;
}

.corpo-titulo12 .marcatexto-competencias{
    background-color: #ff8b8b;
    color: #f9b0fc;
    border-radius: 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.img_competencia{
    width: 800px;
    height: auto;
    margin-left: 420px;
    margin-top: -320px;
}


.competencias-marcadores{
    display: flex;
    flex-direction: row;
}

.ul-competencias-marcadores{
    margin-top: -4px;
    margin-left: -13.98px;
}

.competencias {
    display:list-item;
    list-style-type: disc;
    line-height: 5px;
    color:  #1bacac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left: 10px;
}

.competencias span {
    color: #000000;
}

.marcadortexto-pos{
    background-color: #1bacac;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.titulo5 {
    position: relative;
    top: 32px;
    
}

.corpo-titulo7 {
    color: #c23c59;
    font-size: 65px;
    margin: 10px;
    margin-top: -30px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
    padding-top: 16px;
}

.titulo6 {
    position: relative;
    top: 32px;
    
}

.corpo-titulo8 {
    font-size: 65px;
    margin: 10px;
    margin-top: 45px;
    font-weight:400;
    letter-spacing: 2px;
    font-family: 'delicate', cursive;
}

.corpo-titulo8 .marcatexto{
    background-color: #39e0f7;
    color: #005eaa;
    border-radius: 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.corpo-titulo9 {
    color: #003D76;
    font-size: 65px;
    margin: 10px;
    margin-top: 45px;
    font-weight:400;
    letter-spacing: 2px;
    font-family: 'delicate', cursive;
}

.corpo-titulo9 .marcatexto2-pos{
    background-color: #ff89c4;
    color: #9ddefc;
    border-radius: 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.corpo-titulo10 {
    color: #c26db4;
    font-size: 65px;
    margin: 10px;
    margin-top: 85px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'delicate', cursive;
    padding-top: 16px;
    line-height: 60px;
}


@media(max-width: 768px){
    .corpo-titulo10{
        color: #003D76;
    font-size: 35px;
    margin: 10px;
    margin-top: 45px;
    font-family: 'sangira', cursive;
    line-height: 25px;
    }
}

.corpo7 p {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    max-width: none;
    position: relative;
    top: 15px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    font-weight: bolder;
}

.container{
    width: 1150px;
    padding: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    transform: 0.5s;
    text-align: center;
    top: 5px;
}

.container .card img{
    transition: 0.5s;
}

.container .card .content{
    padding: 20px;
    text-align: center;
}

.container .card .content p{
    color: #666;
    transition: 0.5s;
}

.container .card:hover{
    background-color: #f56494;
    color: #ffffff;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #f56494;
    border-color: #f56494;
    transition: 0.3s;
}

.container .card:hover .content p{
    color: #ffffff;
}

.corpo8 p {
    color: #b61a70;
    font-family: 'rounded', Arial, Helvetica, sans-serif;
    font-size: 26px;
    max-width: none;
    position: absolute;
    top: 90px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.conteudo_corpo8 {
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: none;
    position: relative;
    top: 100px;
    line-height: 30px;
    left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.conteudo_corpo8 a {
    text-decoration: none;
    color: #000000;
}

.conteudo_corpo9 {
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: none;
    position: relative;
    top: 120px;
    line-height: 30px;
    left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.conteudo_corpo9 a {
    text-decoration: none;
    color: #000000;
}

.corpo9 p {
    color: #b61a70;
    font-family: 'rounded', Arial, Helvetica, sans-serif;
    font-size: 26px;
    max-width: none;
    position: absolute;
    top: 270px;
    line-height: 18px;
    left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 300px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
 div.desc {
    padding: 15px;
    text-align: center;
}

div.desc a{
    text-decoration: none;
    color: #af2369;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
  
.container-galeria{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media(max-width: 768px){
    .container-galeria{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }
}

.section6{
    position: relative;
    height: auto;  
}

.section7{
    position: relative;
    background-color: #ffffff;
    height: 800px;
    top:0;
    left: 0;
}

.titulo7 {
    position: relative;
    top: 30px;
}

.section8{
    position: relative;
    top:30%;
    height: auto;
}

.titulo8 {
    position: relative;
    text-align: center;
}

.imagem-marcador-pos {
    display: flex;
    flex-direction: row;
}

.pos-marcadores{
    display: flex;
    flex-direction: row;
}

.ul-pos-marcadores{
    margin-top: -4px;
    margin-left: -13.98px;
}

.pos {
    display:list-item;
    list-style-type: disc;
    line-height: 15px;
    color: #1bacac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left: 10px;
}

.pos span {
    color: #000000;
}

.imagens-pos img{
    display: flex;
    position: absolute;
}

.personagem {
    width: 285px;
    height: auto;
    margin-top: -37px;
    margin-left: 210px;
    animation: animacao2 4s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animacao2 {
    0% {
        margin-left: 210px;
    }
    50% {
        margin-left: 200px;
    }
    100% {
        margin-left: 220px;
    }
}

.rodape{
    margin-top: 40%;
    width: 100%;
    float: left;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background: linear-gradient(to left, #f17fc2, #ff0095, #003688, #ae00ff);
}

.social-icons a{
    font-size: 2em;
    color: rgba(225, 225, 225, 0.7);
    margin-right: 3%;
}

.social-icons a:last-child{
    margin-right: 0;
}

.social-icons a:hover{
    color: rgba(225, 225, 225);
}

.copyright{
    margin-top: 2%;
    color: rgba(225, 225, 225, 0.7);
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes{
    margin-top: 2%;
    color: rgba(225, 225, 225, 0.7);
    font-size: 17px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

